body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
.clear {
  clear: left;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(gambar/uyu.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.logo {
  width: 80px;
  margin-top: 2px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(6, 127, 175, 0.3);
  transition: all 0.5s;
  margin-right: -25px;
}

.header-right:hover {
  background-color: rgba(7, 160, 248, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.ank-wrapper {
  height: 500px;
  padding-bottom: 125px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.ank{
  float: left;
  width: 25%;
}

.ank-icon {
  position: relative;
}

.ank-icon p {
  top: 90px;
  width: 100%;
  color:black;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #7cfa07;
  cursor: pointer;
  box-shadow: 0 7px #bc04e0;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 150px;
}

footer p {
  color: #08020a;
  font-size: 25px;
  text-align: center;
}

footer {
  padding-top: 30px;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.fa {
  margin-right: 5px;
}
